body {
    width: 100%;
    height: 100%;
}

.derecha{
    background-color: #bababa;
    width:50%;
    height: 700px;
    float:left;
}

.izquierda{
    background-color: lightgrey;
    width: 50%;
    height: 700px;
    float:left;
}

.funciones{
    height: 50%;
}

.consola{
    position: fixed;
    top: 350px;
    height: 50%;
}

h1.titulo{
    font-size: 40px;
    padding-left: 10px;
}

.input{
    padding-left: 10px;
}

.resultado{
    padding-left: 10px;
    font-size: 20px;
}

.funcion{
    font-size: 20px;
}

#funciones{
    color: RED;
}

#resultats{
    color: GREEN;
}

#consola{
    color: BLUE;
}
